<% if @coffeespots.any? %>
<h3>Known CoffeeSpots:</h3>
  <ul>
    <% @coffeespots.each do |spot| %>
    <li><%= spot.name %> <%= link_to "Edit #{spot.name}", edit_coffeespot_path(spot.id) %></li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no Coffee Spots yet.</h3>
<% end %>
